* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* index.html css */
#index .gridwrapper {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-areas: 
        "he he he he nb"
        "pi pi pi pi pi"
        "pi pi pi pi pi"
        "nv nv nv nv nv"
        "nv nv nv nv nv"
        "nv nv nv nv nv"
        "nv nv nv nv nv"
    ;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.indexpictures {
    grid-area: pi;
    background: rgb(87, 86, 86)
}

.slideimages {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
    overflow: hidden;
}

.indexnav {
    grid-area: nv;
}

.indexlinks {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    background: radial-gradient(floralwhite, lavender);
}

.indexbuttons {
    width: 75vw;
    height: 10vh;
    border: solid grey 1px;
    background-color: rgb(111, 31, 216);
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: Verdana, sans-serif;
    font-size: 15px;
}

.indexlinks li {
    list-style-type: none;
}

/* omoss.html css */
#omoss .gridwrapper {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-areas: 
        "he he he he nb"
        "se se se se se"
        "se se se se se"
        "se se se se se"
        "se se se se se"
        "se se se se se"
        "se se se se se"
    ;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.omoss-section {
    grid-area: se;
    min-height: 100vh;
    background: rgb(245, 245, 245);
    position: relative;
}

.omoss-content {
    text-align: center;
    margin: 5px 5px 5px 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.omoss-content-text {
    margin-top: 20px;
}

#omoss-image {
    height: 200px;
    margin-top: 20px;
}

.omoss-footer {
    height: 2.5rem;
    width: 100%;
    background: lightsteelblue;
    position: absolute;
    bottom: 0;
    text-align: center;
}

/* instrument.html css */
#instrument .gridwrapper {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-areas: 
        "he he he he nb"
        "se se se se se"
        "se se se se se"
        "se se se se se"
        "se se se se se"
        "se se se se se"
        "se se se se se"
    ;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.instrument-section {
    grid-area: se;
    min-height: 100vh;
    background: rgb(245, 245, 245);
    position: relative;
    overflow: scroll;
}

.instrument-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

.instrument-images {
    height: 200px;
}

.instrument-h1 {
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
}

.instrument-text {
    margin: 10px 5px 20px 5px;
    text-align: center;
}

.instrument-footer {
    height: 2.5rem;
    width: 100%;
    background: lightsteelblue;
    position: absolute;
    border-bottom: 0;
    text-align: center;
}

/* gåmedoss.html css */
#låtar .gridwrapper {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-areas: 
        "he he he he nb"
        "se se se se se"
        "se se se se se"
        "se se se se se"
        "se se se se se"
        "se se se se se"
        "se se se se se"
    ;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.låtar-section {
    grid-area: se;
    min-height: 100vh;
    background: rgb(245, 245, 245);
    position: relative;
}

.låtar-content {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
}

.låtar-h1 {
    margin-top: 20px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.låtar-footer {
    height: 2.5rem;
    width: 100%;
    background: lightsteelblue;
    position: absolute;
    border-bottom: 0;
    text-align: center;
}

/* kontaktinfo.html css */
#kontaktinfo .gridwrapper {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-areas: 
        "he he he he nb"
        "se se se se se"
        "se se se se se"
        "se se se se se"
        "se se se se se"
        "se se se se se"
        "se se se se se"
    ;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.kontaktinfo-section {
    grid-area: se;
    min-height: 100vh;
    background: rgb(245, 245, 245);
    position: relative;
}

.kontaktinfo-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.kontaktinfo-text {
    margin-left: 10px;
}

.kontaktinfo-images {
    vertical-align: middle;
}

#kontaktinfo-list {
    margin-top: 10px;
}

.kontaktinfo-listitem {
    margin-top: 30px;
}

.kontaktinfo-footer {
    height: 2.5rem;
    width: 100%;
    background: lightsteelblue;
    position: absolute;
    bottom: 0;
    text-align: center;
}

/*  Allmän css */
.logo {
    max-height: 100px;  
    margin: 2px;
}

.header {
    grid-area: he;
    display: flex;
    justify-content: left;
}

.burger {
    z-index: 100;
}   

.burgernav {
    grid-area: nb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burgerlinks {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    right: 0px;
    height: 100vh;
    top: -100vh;
    background-color: rgb(233, 233, 233);
    align-items: center;
    width: 75%;
    transition: all 1s;
    z-index: 99;
}

.burgerlinks li {
    list-style-type: none;
}

.burgerbuttons {
    width: 50vw;
    height: 10vh;
    border: solid grey 1px;
    background-color: rgb(104, 69, 150);
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: Verdana, sans-serif;
    font-size: 15px;
}

.burgeractive {
    transform: translateY(100vh);
}

.burger div {
    width: 25px;
    height: 3px;
    margin: 5px;
    border-radius: 10%;
    background-color: black;
    transition: all 0.3s;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}

.desktopnav {
    display: none;
}

.title {
    background: lightsteelblue; 
    position: relative;
}

#titletext {
    text-align: center;
    display: block;
    position: relative;
    bottom: 16px;
    font-family: 'Roboto Mono', monospace;
    font-size: 18px;
}

#homeicon {
    position: relative;
    top: 12px;
    left: 5px;
    z-index: 99;
}

#footertext {
    margin-top: 10px;
}

ul {
    list-style-type: none;
}

p {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;    
}

span {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

/* Media Queries */

@media only screen and (min-width: 1024px) {
    #index .gridwrapper {
        grid-template-areas: 
            "he he he he"
            "pi pi pi pi"
            "pi pi pi pi"
            "nv nv nv nv"
            "nv nv nv nv"
            "nv nv nv nv"
            "nv nv nv nv"
        ;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(7,1fr);
    }

    .burger {
        display: none;
    }

    .indexlinks {
        display: block;
        text-align: center;
        padding-top: 10vh;
    }

    #n1 {
        width: 40vw;
        margin: 30px;
    }   

    #n2 {
        width: 40vw;
        margin: 30px;
    }

    #n3 {
        width: 40vw;
        margin: 30px;
    }

    #n4 {
        width: 40vw;
        margin: 30px;
    }

    #omoss #instrument #låtar #kontaktinfo .gridwrapper {
        grid-template-areas: 
            "he he he he"
            "se se se se"
            "se se se se"
            "se se se se"
            "se se se se"
            "se se se se"
            "se se se se"
        ;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(7, 1fr);
    }

    .omoss-content {
        margin: 25px 400px 25px 400px;
    }

    #omoss-image {
        height: 300px;
        margin-top: 50px;
    }

    .instrument-content {
        margin: 25px 400px 25px 400px;
    }

    .låtar-content {
        margin: 25px 400px 25px 400px;
    }

    .låtar-footer {
        bottom: 0;
    }

    p {
        font-size: 14px;
    }

    #titletext {
        font-size: 24px;
    }

    .desktopnav {
        display: block;
        width: 40%;
        margin: 50px 0px 0px 50px;
    }

    .desktopnavlist {
        display: flex;
        justify-content: space-evenly;
    }

    .desktopbuttons {
        width: 100px;
        height: 30px;
        border: none;
        background-color: white;
        color: black;
        cursor: pointer;
        font-family: Verdana, sans-serif;
        font-size: 12px;
        margin-left: 5px;
    }
}
