* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* index.html css */
#index .gridwrapper {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-areas: 
        "he he he he nb"
        "pi pi pi pi pi"
        "pi pi pi pi pi"
        "nv nv nv nv nv"
        "nv nv nv nv nv"
        "nv nv nv nv nv"
        "nv nv nv nv nv"
    ;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.indexpictures {
    grid-area: pi;
    background: rgb(87, 86, 86)
}

.slideimages {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
    overflow: hidden;
}

.indexnav {
    grid-area: nv;
}

.indexlinks {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
    background: radial-gradient(floralwhite, lavender);
}

.indexbuttons {
    width: 75vw;
    height: 10vh;
    border: solid black 1px;
    background-color: rgb(111, 31, 216);
    color: white;
    cursor: pointer;
    display: inline-block;
}

.indexlinks li {
    list-style-type: none;
}

/* omoss.html css */
#omoss .gridwrapper {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-areas: 
        "he he he he nb"
        "se se se se se"
        "se se se se se"
        "se se se se se"
        "se se se se se"
        "se se se se se"
        "se se se se se"
    ;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.omoss-section {
    grid-area: se;
    min-height: 100vh;
    background: rgb(248, 233, 214);
    text-align: center;
    position: relative;
}

.omoss-title {
    background: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;   
}

.omoss-footer {
    height: 2.5rem;
    width: 100%;
    background: lightblue;
    position: absolute;
    bottom: 0;
}

/* Instrument.html css */
#instrument .gridwrapper {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-areas: 
        "he he he he nb"
        "se se se se se"
        "se se se se se"
        "se se se se se"
        "se se se se se"
        "se se se se se"
        "se se se se se"
    ;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.instrument-title {
    background: blueviolet;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 2.5rem;   
}

.instrument-section {
    grid-area: se;
    min-height: 100vh;
    background: rgb(248, 233, 214);
    position: relative;
}

.instrument-content {
    
}

.instrument-images {
    height: 100px;
}

.instrument-footer {
    height: 2.5rem;
    width: 100%;
    background: lightblue;
    position: absolute;
    bottom: 0;
}

/*  Allmän css */
.logo {
    max-height: 100%;
    margin: 2px;
}

.header {
    grid-area: he;
    display: flex;
    justify-content: left;
}

.burger {
    z-index: 100;
}

.burgernav {
    grid-area: nb;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burgerlinks {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    position: absolute;
    right: 0px;
    height: 100vh;
    top: -100vh;
    background-color: rgb(233, 233, 233);
    align-items: center;
    width: 75%;
    transition: all 1s;
    z-index: 99;
}

.burgerlinks li {
    list-style-type: none;
}

.burgerlinks a {
    color: darkblue;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
}

.burgerbuttons {
    width: 50vw;
    height: 10vh;
    border: solid grey 1px;
    background-color: rgb(104, 69, 150);
    color: white;
    cursor: pointer;
    display: inline-block;
}

.burgeractive {
    transform: translateY(100vh);
}

.burger div {
    width: 25px;
    height: 3px;
    margin: 5px;
    border-radius: 10%;
    background-color: black;
    transition: all 0.3s;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}

