* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.gridwrapper {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-areas: 
        "he he he he nb"
        "pi pi pi pi pi"
        "pi pi pi pi pi"
        "nv nv nv nv nv"
        "nv nv nv nv nv"
        "nv nv nv nv nv"
        "nv nv nv nv nv"
    ;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(7, 1fr);
}

.indexheader {
    grid-area: he;
    border: black solid 1px;
}

.burgernav {
    grid-area: nb;
    border: black solid 1px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.burgerlinks {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    right: 0px;
    height: 100vh;
    top: -100vh;
    background-color: pink;
    align-items: center;
    width: 75%;
    transition: all 1s;
}

.burgerlinks li {
    list-style-type: none;
}

.burgerlinks a {
    color: darkblue;
    text-decoration: none;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
}

.burgeractive {
    transform: translateY(100vh);
}

.burger div {
    width: 25px;
    height: 3px;
    margin: 5px;
    border-radius: 10%;
    background-color: crimson;
    transition: all 0.3s;
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px,-6px);
}

.indexpicture {
    grid-area: pi;
    border: black solid 1px; 
    background-color: grey; 
}

.bandimage {
    width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.indexnav {
    grid-area: nv;
    border: black solid 1px;
}

.indexlinks {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    width: 100%;
}

.indexlinks li {
    list-style-type: none;
}

